---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxmox-sso
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: proxmox-sso
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: proxmox-sso
    spec:
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: nginx.conf
      volumes:
        - name: html
          configMap:
            name: proxmox-sso-html
        - name: nginx-conf
          configMap:
            name: proxmox-sso-nginx-conf
