---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "arclog-com-production"
spec:
  secretName: "${ARCLOG_COM_PRODUCTION_TLS}"
  secretTemplate:
    annotations: []
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "arclog.com"
  dnsNames:
    - "arclog.com"
    - "*.arclog.com"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "glimmerlabs-io-production"
spec:
  secretName: "${GLIMMERLABS_IO_PRODUCTION_TLS}"
  secretTemplate:
    annotations: []
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "glimmerlabs.io"
  dnsNames:
    - "glimmerlabs.io"
    - "*.glimmerlabs.io"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "deangalvin-dev-production"
spec:
  secretName: "${PRODUCTION_TLS}"
  secretTemplate:
    annotations: []
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "deangalvin.dev"
  dnsNames:
    - "deangalvin.dev"
    - "*.deangalvin.dev"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "deangalvin-com-production"
spec:
  secretName: "deangalvin-com-production-tls"
  secretTemplate:
    annotations: []
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "deangalvin.com"
  dnsNames:
    - "deangalvin.com"
    - "*.deangalvin.com"
    - "*.public.deangalvin.com"
    - "*.local.deangalvin.com"
