---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    stateful: true
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: jellyfin-metadata
      media:
        type: persistentVolumeClaim
        existingClaim: media
      cache:
        type: persistentVolumeClaim
        existingClaim: jellyfin-cache
      ec-media:
        type: persistentVolumeClaim
        existingClaim: ec-media
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
    image:
      repository: ghcr.io/jellyfin/jellyfin
      tag: 10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
    env:
      JELLYFIN_FFmpeg__probesize: 10000000000
      JELLYFIN_FFmpeg__analyzeduration: 2000000000
      TZ: America/New_York
    resources:
      requests:
        cpu: 8
        memory: 32Gi
      limits:
        memory: 64Gi
    ports:
      http: 8096
    ingress:
      localonly: false
      subdomain: jellyfin
      icon: mdi:movie
    serviceMonitor:
      enabled: false
