---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./kured/ks.yaml
  - ./descheduler/ks.yaml
  - ./external-secrets/ks.yaml
  - ./secrets/ks.yaml
  - ./reloader/ks.yaml
  - ./reflector/ks.yaml
  - ./snapshot-controller/ks.yaml
patches:
  - patch: |-
      - op: add
        path: /spec/targetNamespace
        value: kube-system
    target:
      version: v1
      group: kustomize.toolkit.fluxcd.io
      kind: Kustomization
      labelSelector: setnamespace.flux.home.arpa/disabled notin (true)
