---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.18.6
      sourceRef:
        kind: HelmRepository
        name: rook
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    monitoring:
      enabled: false
      createPrometheusRules: false
    cephFileSystems: []
    cephClusterSpec:
      cephVersion:
        image: "quay.io/ceph/ceph:v17.2.8"
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    cephObjectStores:
      - name: external-objectstore
        spec:
          gateway:
            port: 7480
            externalRgwEndpoints:
              - ip: 10.0.0.102
        storageClass:
          enabled: true
          name: ceph-bucket
          reclaimPolicy: Delete
          volumeBindingMode: "Immediate"
          annotations: {}
          labels: {}
          parameters:
            region: us-east-1
        ingress:
          enabled: false
