---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.19.1
      sourceRef:
        kind: HelmRepository
        name: rook
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    monitoring:
      enabled: false
      createPrometheusRules: false
    cephFileSystems: []
    cephClusterSpec:
      cephVersion:
        image: "quay.io/ceph/ceph:v19.2.3"
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    cephObjectStores: []
