---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    stateful: true
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: config-qbittorrent-0
      media:
        type: persistentVolumeClaim
        existingClaim: media
    image:
      repository: ghcr.io/home-operations/qbittorrent
      tag: 5.1.4
    env:
      TZ: America/New_York
      QBT_WEBUI_PORT: &port 80
      QBT_TORRENTING_PORT: &torrentPort 8081
    ports:
      http: *port
    ingress:
      subdomain: qbittorrent
      icon: mdi:movie-search
    serviceMonitor:
      enabled: false
    service:
      torrent:
        type: LoadBalancer
        controller: qbittorrent
        ports:
          torrent:
            port: *torrentPort
