---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    stateful: true
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      qbittorrent:
        containers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3
            env:
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
              UPDATER_PERIOD: "0"
            envFrom:
              - secretRef:
                  name: qbittorrent-gluetun-secret
            securityContext:
              privileged: true
              runAsUser: 0
              runAsGroup: 0
              capabilities:
                add:
                  - NET_ADMIN
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  failureThreshold: 5
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  failureThreshold: 30
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: config-qbittorrent-0
      media:
        type: persistentVolumeClaim
        existingClaim: media
      ec-media:
        type: persistentVolumeClaim
        existingClaim: ec-media
      gluetun-data:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            gluetun:
              - path: /tmp/gluetun
      devtun:
        type: hostPath
        hostPath: /dev/net/tun
        advancedMounts:
          qbittorrent:
            gluetun:
              - path: /dev/net/tun
    image:
      repository: ghcr.io/home-operations/qbittorrent
      tag: 5.1.4
    env:
      TZ: America/New_York
      QBT_WEBUI_PORT: &port 80
      QBT_TORRENTING_PORT: &torrentPort 8081
    ports:
      http: *port
    ingress:
      subdomain: qbittorrent
      icon: mdi:movie-search
    serviceMonitor:
      enabled: false
