---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./pvc.yaml
  - ./service.yaml
  - ./externalsecret.yaml
labels:
  - pairs:
      app.kubernetes.io/name: qbittorrent
      app.kubernetes.io/instance: qbittorrent
