---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-discovery
spec:
  interval: 15m
  chart:
    spec:
      chart: istiod
      version: 1.28.0
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    sidecarInjectorWebhook:
      enableNamespacesByDefault: true
    meshConfig:
      enableTracing: true
      defaultConfig:
        tracing:
          sampling: 10
        holdApplicationUntilProxyStarts: true
      defaultProviders:
        tracing:
          - "opentelemetry"
      extensionProviders:
        - name: "opentelemetry"
          opentelemetry:
            service: tempo.monitoring.svc.cluster.local
            port: 4318
            http:
              path: "/"
    global:
      logAsJson: true
      proxy:
        holdApplicationUntilProxyStarts: true
