---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kured
spec:
  selector:
    matchLabels:
      name: kured
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: kured
        name: kured
    spec:
      serviceAccountName: kured
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
          effect: NoExecute
        - key: CephOSDOnly
          operator: Exists
          effect: NoExecute
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      hostPID: true # Facilitate entering the host mount namespace via init
      restartPolicy: Always
      containers:
        - name: kured
          image: ghcr.io/kubereboot/kured:1.21.0
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true # Give permission to nsenter /proc/1/ns/mnt
          env:
            - name: KURED_NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - /usr/bin/kured
            - --drain-timeout=300s
            - --period=1m
            - --force-reboot
            - --reboot-command="/usr/sbin/shutdown"
