---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app "authelia-${NAME_SUFFIX}"
spec:
  interval: 15m
  chart:
    spec:
      chart: authelia
      version: 0.10.49
      sourceRef:
        kind: HelmRepository
        name: authelia
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    pod:
      kind: Deployment
      replicas: 3
    ingress:
      enabled: true
      className: "${INGRESS_CLASS}"
      annotations:
        public.ingress.home.arpa: "true"
        hajimari.io/icon: mdi:shield-account
      tls:
        enabled: true
        secret: "${PRODUCTION_TLS}"
    secret:
      additionalSecrets:
        postgres-dev-app:
          items:
            - key: password
        authelia-external:
          items:
            - key: LDAP_PASSWORD
            - key: JWT_KEY
            - key: OIDC_HMAC_SECRET
            - key: OIDC_PRIVATE_KEY
            - key: STORAGE_ENCRYPTION_KEY
    configMap:
      storage:
        encryption_key:
          secret_name: authelia-external
          path: STORAGE_ENCRYPTION_KEY
        postgres:
          enabled: true
          database: "app"
          address: "postgres-${NAME_SUFFIX}-rw"
          username: app
          password:
            secret_name: "postgres-${NAME_SUFFIX}-app"
            path: password
      access_control:
        default_policy: one_factor
        rules:
          - domain: prowlarr.deangalvin.dev
            policy: bypass
      session:
        expiration: 24h
        inactivity: 24h
        remember_me: 24h
        redis:
          enabled: true
          host: redis-master.default
        cookies:
          - domain: "${AUTH_DOMAIN}"
            subdomain: auth
      notifier:
        filesystem:
          enabled: true
          filename: /var/file-notifier.txt
        smtp:
          enabled: false
      authentication_backend:
        ldap:
          implementation: custom
          enabled: true
          additional_users_dn: ou=people
          additional_groups_dn: ou=users
          users_filter: (&({username_attribute}={input})(objectClass=posixAccount))
          groups_filter: (&(memberUid={username})(objectClass=posixGroup))
          address: ldap://glauth
          base_dn: DC=home,DC=lab
          user: CN=search_user,DC=home,DC=lab
          attributes:
            username: uid
            group_name: cn
            display_name: givenName
            mail: mail
          password:
            secret_name: "authelia-external"
            path: LDAP_PASSWORD
      identity_providers:
        oidc:
          enabled: true
          cors:
            endpoints: ["authorization", "token", "revocation", "introspection"]
            allowed_origins:
              - "https://*.deangalvin.dev"
              - "https://deangalvin.dev"
            allowed_origins_from_client_redirect_uris: true
          hmac_secret:
            secret_name: authelia-external
            path: OIDC_HMAC_SECRET
          jwks:
            - key:
                path: '/secrets/authelia-external/OIDC_PRIVATE_KEY'
          clients:
            - client_id: grafana
              client_name: Grafana
              description: Grafana
              client_secret: '$plaintext$grafana_client_secret'
              public: false
              authorization_policy: one_factor
              redirect_uris:
                - https://grafana.deangalvin.dev/login/generic_oauth
              scopes:
                - offline_access
                - openid
                - profile
                - groups
                - email
              userinfo_signed_response_alg: none
              pre_configured_consent_duration: 1y
            - client_id: proxmox
              client_name: Proxmox
              description: Proxmox
              client_secret: '$plaintext$proxmox_client_secret'
              public: false
              authorization_policy: one_factor
              redirect_uris:
                - https://proxmox.deangalvin.dev
              scopes:
                - openid
                - profile
                - email
              userinfo_signed_response_alg: none
              pre_configured_consent_duration: 1y
      telemetry:
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
