---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ceph-csi-rbd
spec:
  interval: 15m
  chart:
    spec:
      chart: ceph-csi-rbd
      version: v3.15.1
      sourceRef:
        kind: HelmRepository
        name: ceph-csi
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
