---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    serviceMonitor:
      enabled: false
    stateful: true
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/filebrowser/filebrowser
      tag: v2.59.0@sha256:6e950e90bae0c53c27f4be6eeeb88e4b9cffc1f9be05ca2a0c09e74663ae595d
    env:
      TZ: America/New_York
      FB_DATABASE: /config/filebrowser.db
      FB_ROOT: /media
      FB_LOG: stdout
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 2Gi
    ports:
      http: 80
    ingress:
      localonly: false
      subdomain: filebrowser
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: filebrowser
      media:
        type: persistentVolumeClaim
        existingClaim: media
      ec-media:
        type: persistentVolumeClaim
        existingClaim: ec-media
