---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: localonly
spec:
  ipAllowList:
    sourceRange:
      - 174.44.7.114/32
      - 192.168.2.0/24
      - 72.235.227.218/32
      - 104.136.73.201/32
      - 10.0.0.0/8
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-errors
spec:
  errors:
    status:
      - "404"
      - "500-599"
    query: /{status}.html
    service:
      name: traefik-errorpages
      port: 8080
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: authelia
spec:
  forwardAuth:
    address: "http://authelia-dev.auth/api/authz/forward-auth"
    authResponseHeaders:
      - Remote-User
      - Remote-Groups
      - Remote-Name
      - Remote-Email
