---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-container-object-storage-interface
  namespace: flux-system
spec:
  path: ./kubernetes/apps/ceph-cosi-system/container-object-storage-interface/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  retryInterval: 1m
  timeout: 3m
