---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 15m
  chart:
    spec:
      chart: traefik
      version: 39.0.2
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    env:
      - name: "USER"
        value: "traefik"
    tracing:
      addInternals: true
      otlp:
        enabled: true
        http:
          enabled: true
          endpoint: "http://tempo.monitoring:4318"
    metrics:
      prometheus:
        disableAPICheck: true
        service:
          enabled: true
        serviceMonitor:
          enabled: true
    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
    ports:
      web:
        expose:
          default: false
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesIngress:
        allowExternalNameServices: true
        publishedService:
          enabled: true
    service:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "*.deangalvin.dev,deangalvin.dev"
      spec:
        internalTrafficPolicy: Local
        externalTrafficPolicy: Local
    logs:
      general:
        format: json
        noColor: true
        level: INFO
      access:
        enabled: true
        format: json
    deployment:
      kind: DaemonSet
      podAnnotations:
        traffic.sidecar.istio.io/excludeInboundPorts: "8443"
    ingressRoute:
      dashboard:
        matchRule: "Host(`traefik.deangalvin.dev`)"
        entryPoints: ["websecure"]
        middlewares:
          - name: "localonly"
            namespace: "networking"
        tls:
          secretName: "${PRODUCTION_TLS}"
