---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: cephfs
  resources:
    requests:
      storage: "100Ti"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ec-media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ec-cephfs
  resources:
    requests:
      storage: "10Ti"
