[Unit]
Description=Mount ${label}
Before=k3s.service
Before=umount.target
Conflicts=umount.target
After=${partition_service}
Requires=${partition_service}
DefaultDependencies=no

[Mount]
What=/dev/disk/by-partlabel/${label}
Where=${mount}
Type=ext4

[Install]
RequiredBy=k3s.service
