[Unit]
Description=Partition ${label} disk if part not exists
ConditionPathExists=!/dev/disk/by-partlabel/${label}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/${file}
TimeoutSec=300

[Install]
WantedBy=multi-user.target
