[Unit]
Description=Partition ${label} disk if part not exists
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/${file}
TimeoutSec=300

[Install]
WantedBy=multi-user.target
