---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-discovery
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.25
      chassis: discovery
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-cerritos
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.70
      chassis: cerritos
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-protostar
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.64
      chassis: protostar
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-enterprise
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.10
      chassis: enterprise
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-voyager
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.4
      chassis: voyager
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-galaxy
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.12
      chassis: galaxy
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-redfish-exporter-galaxy
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/redfish-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      host: 192.168.2.109
      chassis: yamoato
