---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ./grafanadashboard.yaml
labels:
  - pairs:
      app.kubernetes.io/name: kube-prometheus-stack
      app.kubernetes.io/instance: kube-prometheus-stack
