---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    timeout: 10m
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    timeout: 10m
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    stateful: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
      config:
        type: persistentVolumeClaim
        existingClaim: config-home-assistant-0
    image:
      repository: ghcr.io/home-assistant/home-assistant
      tag: 2025.11.2
    env:
      TZ: America/New_York
    serviceMonitor:
      scheme: https
      path: /api/prometheus
      bearerTokenSecret:
        name: hass-secret
        key: token
    ports:
      http: 8123
    ingress:
      localonly: false
      subdomain: hass
      icon: mdi:home-assistant
