---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${instance_name}
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups: [10000]
    stateful: true
    image:
      repository: ghcr.io/home-operations/sonarr
      tag: 4.0.16.2943
    env:
      TZ: America/New_York
      SONARR__INSTANCE_NAME: ${instance_name}
      SONARR__PORT: &port 80
      SONARR__LOG_LEVEL: info
      SONARR__AUTHENTICATION_METHOD: External
      SONARR__API_KEY: this-is-a-bad-api-key
    ports:
      http: *port
    ingress:
      subdomain: ${instance_name}
      icon: "mdi:television-classic"
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: config-${instance_name}-0
      media:
        type: persistentVolumeClaim
        existingClaim: media
    serviceMonitor:
      enabled: false
