---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: overseerr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.0.14
      sourceRef:
        kind: HelmRepository
        name: freekingdean
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    stateful: true
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: config-overseerr-0
        globalMounts:
          - path: /app/config
    image:
      repository: ghcr.io/seerr-team/seerr
      tag: develop
    env:
      TZ: America/New_York
      LOG_LEVEL: "info"
      PORT: &port 80
    ports:
      http: *port
    ingress:
      localonly: false
      subdomain: overseerr
      icon: mdi:eye-circle
    serviceMonitor:
      enabled: false
