---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  timeout: 30m
  chart:
    spec:
      chart: loki
      version: 6.49.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    test:
      enabled: false
    lokiCanary:
      enabled: false
    global:
      extraArgs:
        - '-log.level=warn'
    loki:
      auth_enabled: false # Disable multi-tenancy
      storage:
        bucketNames:
          chunks: $${S3_LOKI_BUCKET}
          ruler: $${S3_LOKI_BUCKET}
          admin: $${S3_LOKI_BUCKET}
        type: s3
        s3:
          accessKeyId: $${S3_LOKI_ACCESS_KEY_ID}
          secretAccessKey: $${S3_LOKI_SECRET_ACCESS_KEY}
          endpoint: $${S3_LOKI_ENDPOINT}
          region: ""
      schemaConfig:
        configs:
          - from: "2024-04-01"
            store: tsdb
            object_store: s3
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      ingester:
        chunk_encoding: snappy
      querier:
        # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
        max_concurrent: 4
      pattern_ingester:
        enabled: true
      limits_config:
        max_global_streams_per_user: 10000000
        allow_structured_metadata: true
        volume_enabled: true

    deploymentMode: SimpleScalable

    _deployment_template: &deployment_template
      extraVolumeMounts:
        - name: credential-fetcher
          mountPath: /s3-credentials
      extraVolumes:
        - name: credential-fetcher
          emptyDir: {}
        - name: s3-credentials
          secret:
            secretName: loki-bucket-credentials
      initContainers:
        - name: credential-fetcher
          # This image is to get a tiny jq binary to parse JSON from the secret
          image: ghcr.io/home-operations/k8s-sidecar:2.1.4
          volumeMounts:
            - name: credential-fetcher
              mountPath: /s3
            - name: s3-credentials
              mountPath: /s3-secret
              readOnly: true
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -eu
              jq -r '
                "LOKI_S3_BUCKET=\(.spec.bucketName)",
                "LOKI_S3_ENDPOINT=\(.spec.secretS3.endpoint)",
                "LOKI_S3_ACCESS_KEY_ID=\(.spec.secretS3.accessKeyID)",
                "LOKI_S3_SECRET_ACCESS_KEY=\(.spec.secretS3.accessSecretKey)"
              ' /s3-secret/BucketInfo > /s3/config.env
      extraArgs:
        - '-config.expand-env=true'
      extraEnv:
        - name: S3_LOKI_ENDPOINT
          valueFrom:
            fileKeyRef:
              path: config.env
              volumeName: credential-fetcher
              key: LOKI_S3_ENDPOINT
              optional: false
        - name: S3_LOKI_BUCKET
          valueFrom:
            fileKeyRef:
              path: config.env
              volumeName: credential-fetcher
              key: LOKI_S3_BUCKET
              optional: false
        - name: S3_LOKI_ACCESS_KEY_ID
          valueFrom:
            fileKeyRef:
              path: config.env
              volumeName: credential-fetcher
              key: LOKI_S3_ACCESS_KEY_ID
              optional: false
        - name: S3_LOKI_SECRET_ACCESS_KEY
          valueFrom:
            fileKeyRef:
              path: config.env
              volumeName: credential-fetcher
              key: LOKI_S3_SECRET_ACCESS_KEY
              optional: false
    backend:
      <<: *deployment_template
      replicas: 4
    read:
      <<: *deployment_template
      replicas: 4
    write:
      <<: *deployment_template
      replicas: 5 # To ensure data durability with replication

    gateway:
      service:
        type: ClusterIP
      nginxConfig:
        logFormat: main
