---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-authentik
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16.6
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: ceph-rbd
  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 512MB
  monitoring:
    enablePodMonitor: true
