---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_plugin_updates: "false"
      check_for_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      oauth_auto_login: "false"
      signout_redirect_url: https://auth.deangalvin.dev/logout
    auth.anonymous:
      enabled: "true"
    auth.generic_oauth:
      api_url: https://auth.deangalvin.dev/api/oidc/userinfo
      auth_url: https://auth.deangalvin.dev/api/oidc/authorization
      client_id: grafana
      client_secret: grafana_client_secret
      empty_scopes: "false"
      enabled: "true"
      groups_attribute_path: groups
      login_attribute_path: preferred_username
      name: Authelia
      name_attribute_path: name
      scopes: openid profile email groups
      token_url: https://auth.deangalvin.dev/api/oidc/token
      use_pkce: "true"
    auth.generic_oauth.group_mapping:
      org_id: "1"
      role_attribute_path: |
        contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    security:
      angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: https://grafana.deangalvin.dev
  deployment:
    spec:
      replicas: 2
      template:
        spec:
          containers:
          - name: grafana
            env:
            - name: GF_SECURITY_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  key: ADMIN_USER
                  name: grafana-admin-credentials
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: ADMIN_PASSWORD
                  name: grafana-admin-credentials
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
              readOnlyRootFilesystem: true
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
  disableDefaultSecurityContext: All
  ingress:
    metadata:
      annotations:
        hajimari.io/appName: Grafana
        hajimari.io/icon: simple-icons:grafana
        traefik.ingress.kubernetes.io/router.middlewares: networking-localonly@kubernetescrd
    spec:
      ingressClassName: traefik
      rules:
      - host: grafana.deangalvin.dev
        http:
          paths:
          - backend:
              service:
                name: grafana-service
                port:
                  number: 3000
            path: /
            pathType: Prefix
      tls:
      - hosts:
        - grafana.deangalvin.dev
        secretName: deangalvin-dev-production-tls
