---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_plugin_updates: "false"
      check_for_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      oauth_auto_login: "true"
      disable_login_form: "false"
    auth.anonymous:
      enabled: "false"
    auth.generic_oauth:
      # For variables see https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#env-provider
      enabled: "true"
      name: "authentik"
      allow_sign_up: "true"
      client_id: "$${AUTH_CLIENT_ID}"
      client_secret: "$${AUTH_CLIENT_SECRET}"
      scopes: "openid email profile offline_access"
      auth_url: "https://authentik.deangalvin.dev/application/o/authorize/"
      token_url: "https://authentik.deangalvin.dev/application/o/token/"
      api_url: "https://authentik.deangalvin.dev/application/o/userinfo/"
      role_attribute_path: "contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    security:
      angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: https://grafana.deangalvin.dev
  deployment:
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-data
          containers:
          - name: grafana
            envFrom:
              - secretRef:
                  name: grafana-oauth
            env:
            - name: GF_SECURITY_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  key: GF_SECURITY_ADMIN_USER
                  name: grafana-admin-credentials
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: GF_SECURITY_ADMIN_PASSWORD
                  name: grafana-admin-credentials
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
              readOnlyRootFilesystem: true
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
  disableDefaultSecurityContext: All
  ingress:
    metadata:
      annotations:
        hajimari.io/appName: Grafana
        hajimari.io/icon: simple-icons:grafana
        traefik.ingress.kubernetes.io/router.middlewares: networking-localonly@kubernetescrd
    spec:
      ingressClassName: traefik
      rules:
      - host: grafana.deangalvin.dev
        http:
          paths:
          - backend:
              service:
                name: grafana-service
                port:
                  number: 3000
            path: /
            pathType: Prefix
      tls:
      - hosts:
        - grafana.deangalvin.dev
        secretName: deangalvin-dev-production-tls
