---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      signout_redirect_url: https://auth.deangalvin.dev/logout
      oauth_auto_login: false
    auth.anonymous:
      enabled: "true"
      org_name: HomeOps
      org_id: 1
      org_role: Viewer
    auth.basic:
      enabled: false
    auth.generic_oauth:
      enabled: true
      name: Authelia
      client_id: # Set by env vars
      client_secret: # Set by env vars secret
      auth_url: # Set by env vars
      token_url: # Set by env vars
      api_url: # Set by env vars
      scopes: "openid profile email groups"
      empty_scopes: false
      login_attribute_path: preferred_username
      groups_attribute_path: groups
      name_attribute_path: name
      use_pkce: true
    auth.generic_oauth.group_mapping:
      role_attribute_path: |
        contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
      org_id: 1
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    security:
      angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: https://grafana.deangalvin.dev
  deployment:
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          containers:
            - name: grafana
              env:
                JAEGER_AGENT_HOST: ""
                JAEGER_AGENT_PORT: ""
                GF_AUTH_GENERIC_OAUTH_API_URL: "https://auth.deangalvin.dev/api/oidc/userinfo"
                GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://auth.deangalvin.dev/api/oidc/authorization"
                GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "grafana"
                GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://auth.deangalvin.dev/api/oidc/token"
                GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "grafana_client_secret"
                GF_ANALYTICS_CHECK_FOR_UPDATES: false
                GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
                GF_EXPLORE_ENABLED: true
                GF_GRAFANA_NET_URL: https://grafana.net
                GF_LOG_FILTERS: rendering:debug
                GF_LOG_MODE: console
                GF_PANELS_DISABLE_SANITIZE_HTML: true
                GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
                GF_SECURITY_ALLOW_EMBEDDING: true
                GF_SERVER_ROOT_URL: "https://grafana.${DOMAIN}"
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: {drop: ["ALL"]}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
  ingress:
    metadata:
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: "networking-localonly@kubernetescrd"
        hajimari.io/appName: "Grafana"
        hajimari.io/icon: simple-icons:grafana
    spec:
      ingressClassName: "${INGRESS_CLASS}"
      hosts:
        - &host "grafana.${DOMAIN}"
      tls:
        - hosts:
            - *host
          secretName: "${PRODUCTION_TLS}"

  disableDefaultSecurityContext: All
