---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: redis
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 25.3.1
  url: oci://registry-1.docker.io/bitnamicharts/redis
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: redis
  maxHistory: 3
  install:
    createNamespace: true
    disableWait: false
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    auth:
      enabled: false
      sentinel: false
    master:
      resourcesPreset: "small"
      persistence:
        enabled: false
    replica:
      resourcesPreset: "small"
      persistence:
        enabled: false
    metrics:
      resourcesPreset: "small"
      enabled: true
      serviceMonitor:
        enabled: true
