---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./ghost/ks.yaml
patches:
  - patch: |-
      - op: add
        path: /spec/targetNamespace
        value: arcolog
    target:
      version: v1
      group: kustomize.toolkit.fluxcd.io
      kind: Kustomization
      labelSelector: setnamespace.flux.home.arpa/disabled notin (true)
